{% extends 'base.html' %}

{% block content %}
<h1>Library</h1>
<table>
    <thead>
        <tr>
          <th><a href="?sort_by=name">Name</a></th>
          <th><a href="?sort_by=author">Author</a></th>
          <th><a href="?sort_by=availability">Availability</a></th>
          <th>Action</th>
        </tr>
      </thead>      
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{% if book.available %}Available{% else %}Reserved{% endif %}</td>
      <td>
        {% if book.available %}
        {% if user.is_authenticated %}
        <a href="{% url 'reserve_book' book.id %}">Reserve</a>
        {% else %}
        <span class="non-clickable">Reserve</span>
        {% endif %}

        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
